<!DOCTYPE html>
<html lang="en">
  <head>
    <title>React Application</title>
    <link rel="stylesheet" href="css/bundle.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to the React Flux Starter Kit</h1>
      </div>
      <div id="app"><%= markup %></div>
  </div>
    <script src="scripts/bundle.js"></script>
  </body>
</html>
